[submodule "gvm"]
	path = gvm
	url = git@github.com:stlhrt/docker-gvm.git
[submodule "jdk8"]
	path = jdk8
	url = git@github.com:stlhrt/docker-jdk8.git
[submodule "jdk8-serf"]
	path = jdk8-serf
	url = git@github.com:stlhrt/docker-jdk8-serf.git
[submodule "serf"]
	path = serf
	url = git@github.com:stlhrt/docker-serf.git
[submodule "consul"]
	path = consul
	url = git@github.com:stlhrt/docker-consul.git
[submodule "jdk8-consul"]
	path = jdk8-consul
	url = git@github.com:stlhrt/docker-jdk8-consul.git
[submodule "consul-template"]
	path = consul-template
	url = git@github.com:stlhrt/docker-consul-template.git
[submodule "consul-server"]
	path = consul-server
	url = git@github.com:stlhrt/docker-consul-server.git
[submodule "consul-template-haproxy"]
	path = consul-template-haproxy
	url = git@github.com:stlhrt/docker-consul-template-haproxy.git
